
<section class="section"> 
  <div class="container"> 
    <div class="column">

      <div class="box">
          
        <div class="media-content"> 
            <%= render 'filter' %>
      

        </div>
      </div>

    
      <% @jobs.each do |job|%>
        <div class="box">
          <article class="media">
            <div class="media-content"> 
              <div class="content">
                <strong><p><%= job.title %></p></strong> 
                <strong><p>Number of Applicants <%= job.applications.count %></p></strong> <br />
              </div>
            </div>
            <% if user_signed_in?%>
            <nav class="level">
              <div class="level-left is-mobile">
              <%= link_to "Apply", new_job_application_path(job.id),  class: "level-item"  %> 
                  
                
                <%= link_to job, class: "level-item" do %> 
                  <span class="icon"><i class="fa fa-link" aria-hidden= "true"></i></span>
                <% end %>
                <%= link_to edit_job_path(job), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <%end%>
                  <%= link_to job, method: :delete, data: { confirm: "Are you sure you want to delete this tweet?"} do %>
                    <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  <%end%>
              </div>
              
            </nav>
            <% end %>
          </article>
        </div>
      <%end%>
    
    </div>
     
  </div>
  
</section>




